.App {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 312px;
  background-color: #1a1b21;
  border-radius: 10px;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 312px;
  margin: 0 auto;
}

.App-header > img {
  width: 312px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}

.App-header > h1 {
  font-weight: 700;
  font-size: 25px;
  margin-top: 330px;
}

.App-header > p {
  margin: 5px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #f3bf99;
}

.App-header > a {
  margin-bottom: 15px;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #f5f5f5;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 115px;
  height: 35px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: pointer;
}

.linked {
  background-color: #5093e2;
}

.giticon,
.linkicon {
  padding-right: 10px;
}

.main {
  background: #1a1b21;
  width: 247px;
  margin: 0 auto;
  text-align: left;
}

.about > h4,
.skills > h4 {
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
  margin-top: 25px;
}

.para {
  margin-top: 5px;
  color: #dcdcdc;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

footer {
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

footer > a {
  margin: 0px 20px;
}
